target/*
.[!g]*
data/ArjunaObjectStore/*
data/moca-sessions/*
client/src/winmsql.net/bin/*
client/src/winmsql.net/obj/*
*/*.obj
*.exe
*.exp
*.pdb
*.lib
*.dll
*.obj
*.jasper
*.dll.*
*.exe.*
*/*.mem
/target/
/classes/
