<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="RedPrairie.MCS.WinMSQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="RedPrairie.MCS.WinMSQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraEditors3" publicKeyToken="79868B8147B5EAE4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.2.5.0" newVersion="3.2.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Data3" publicKeyToken="79868B8147B5EAE4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.2.5.0" newVersion="3.2.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Utils3" publicKeyToken="79868B8147B5EAE4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.2.5.0" newVersion="3.2.5.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <RedPrairie.MCS.WinMSQL.Properties.Settings>
   <setting name="User" serializeAs="String">
    <value>ColumnHeader</value>
   </setting>
  </RedPrairie.MCS.WinMSQL.Properties.Settings>
 </userSettings>
 <applicationSettings>
  <RedPrairie.MCS.WinMSQL.Properties.Settings>
   <setting name="WinMSQL" serializeAs="String">
    <value>WinMSQL</value>
   </setting>
  </RedPrairie.MCS.WinMSQL.Properties.Settings>
 </applicationSettings>
</configuration>
